/*  Universal Selector */
* {
  margin: 0;
  padding: 0;
}
/* tag selector/ element selector */
h1 {
  color: blue;
  text-align: center;
}
/*  attribute selector */
a[title="google"] {
  color: green;
}
/* ID selector */
#idselector {
  color: blue;
  font-size: 50px;
}
/* Class Selector */
.classselector {
  color: brown;
  text-transform: capitalize;
  font-size: 20px;
  text-indent: 50px;
}
/* Descendent Selector */
.desc a {
  color: rgba(97, 207, 141, 0.344);
}
/* Child Selector */
.child > a {
  color: blue;
}
/* Pseudo */
a:link {
  color: red;
  text-decoration: none;
}
a:hover {
  color: green;
  letter-spacing: spacing 10px;
}
a:active {
  color: blue;
  font-size: 20px;
}
a:visited {
  color: pink;
}
/* Target */
:target {
  color: red;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
/* Border Lessons */
.borderOne {
  border: 5px double red;
  /* size style color */
}
.borderTwo {
  border-top: 5px solid blue;
}
.borderThree {
  border-style: solid;
  /* border-width:10px; */
  /* T / R / B / L */
  /* border-width:5px 50px; */
  /* border-width: 5px 10px 30px; */
  /* T / L&R / B */
  border-width: 5px 10px 15px 20px;
  /* T / R / B / L */
}
.borderFour {
  /* border-style:solid; */
  /* border-style: dotted solid; */
  /* border-style: dotted solid double; */
  border-style: dotted dashed solid double;
  border-width: 5px;
  border-color: green yellow red blue;
}
/* Margin lessons */
.margineOne {
  border: 2px solid red;
  /* margin: 10px 0px 0px 0px; */
  margin-top: 50px;
}
/* padding */
.paddingOne {
  border: 2px solid red;
  /* padding: 50px; */
  padding-left: 50 px;
  /* padding left and right ,  top and bottom */
}
/* Inline Layout */
.inline {
  border: 2px solid red;
  width: 300px;
  display: inline-block;
}
.block {
  border: 2px solid green;
  width: 300px;
  display: inline;
}
/* Float */
.float_right_img {
  width: 50%;
  float: right;
}
.clear {
  clear: both;
}
.float_left_img {
  width: 50%;
  float: left;
}
/* position lessons */
.position_relative {
  border: 2px solid red;
  width: 1000px;
  height: 500px;
}
.position_relative_child {
  border: 2px solid green;
  width: 500px;
  height: 200px;
  position: relative;
  /* top button left right */
  top: 5px;
  left: 50px;
}
.position_absolute {
  border: 2px solid brown;
  width: 1000px;
  height: 500px;
  position: absolute;
}
.position_absolute_child {
  border: 2px solid yellow;
  width: 500px;
  height: 200px;
  position: absolute;
  /* top button left right */
  top: 50px;
  right: 50px;
}
.fixed {
  position: fixed;
  top: 50px;
  right: 50px;
}
/* Font*/
.online_font {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.online_font2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}
/* Offline Font */
@font-face {
  font-family: "abc";
  src: url("Black_Ops_One,Lato,Ole,Open_Sans,Roboto_Condensed/Lato-Black.ttf");
}
.offline_font {
  font-family: "abc";
}
/* flex lessons */
.flex {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: green;
}
.grid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: auto auto auto;
  padding: 10px;
  color: white;
  /* grid-row-gap: 10px; */
  /* grid-column-gap: 10px; */
  /* grid-gap: 20px; */
}
.grid_child {
  padding: 20px;
  text-align: center;
}
.media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.media img {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .media {
    grid-template-columns: repeat(1, 1fr);
  }
}
